@"
.venv/
__pycache__/
*.pyc
.env

data/raw/*
!data/raw/.gitkeep

logs/
dbt_bharatcart/target/
dbt_bharatcart/logs/
dbt_bharatcart/dbt_packages/

.vscode/
Thumbs.db
.DS_Store
"@ | Set-Content .gitignore